.ac-box {
    &-thumb {
        display: flex;
        flex-direction: column;
        gap: 22px;
        cursor: pointer;

        &__img {
            width: 100%;
            height: auto;
        }

        &__title {
            font: 400 32px Nimbus Sans, Arial, sans-serif;
            color: $color;
        }

        &:hover &__title {
            text-decoration: underline;
        }
    }

    &-content {
        box-sizing: border-box;
        position: fixed;
        width: 100%;
        max-width: calc(100% - var(--padding) * 2);
        max-height: calc(100% - 128px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: auto;
        display: none;
        padding: 22px;
        border-radius: 2px;
        background-color: #D4E1DF;
        z-index: 9;
    }

    &-backdrop {
        display: none;
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 8;
        opacity: 0;
        transition: opacity 0.35s ease-in-out;
    }
@media (max-width: 768px) {
    &-content {
        max-height: 100%;
        max-width: 100%;
        border-radius: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        top: 128px;
        transform: none;
    }
}
}