.ac-notifbanner {
    position: relative;
    border-radius: 2px;
    color: $color;
    background-color: $background;
    user-select: none;

    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 8;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
        animation: notifbanner-enter .25s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    }

    &--fixed &__inner {
        padding: 16px var(--padding);
    }

    &__inner {
        padding: 22px;
        background-color: $color-trans;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    h4 {
        margin: 0;
        margin-bottom: 12px;
        font-family: Nimbus Sans;
        font-weight: 600;
        font-size: 20px;
    }

    p {
        margin: 0;
    }

    label {
        min-width: 52px;
    }
}

@keyframes notifbanner-enter {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}