.ac-notifbanner {
    position: relative;
    border-radius: 2px;
    color: $color;
    background-color: $background;
    user-select: none;

    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 8;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
        animation: notifbanner-enter .25s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    }

    &--fixed &__inner {
        padding: 16px var(--padding);
    }

    &__inner {
        padding: 22px;
        background-color: $color-trans;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    h4 {
        margin: 0;
        margin-bottom: 12px;
        font-family: Nimbus Sans;
        font-weight: 600;
        font-size: 20px;
    }

    p {
        margin: 0;
    }

    label {
        min-width: 52px;
    }

    &-backdrop {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 10;
        display: grid;
        place-items: center;

        &__wrapper {
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 52px;
            user-select: none;
        }

        &__text {
            color: #fff;
            font-size: 24px;
            text-align: center;
        }

        i {
            color: #fff;
            font-size: 78px;
        }

        &__south {
            opacity: 0;
        }
    }

    @media (max-width: 768px) {
        &-backdrop {
            &__south {
                opacity: 1;
            }

            &__north {
                opacity: 0;
            }
        }
    }
}

@keyframes notifbanner-enter {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}