.ac-msm {
    padding: 32px var(--padding);

    &-optimisations-boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        max-width: 800px;

@media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
            gap: 8px;
    }
    }
}