<!-- <div class="ac-notifbanner js-notif-banner" style="display: none;" role="banner">
    <p class="ac-notifbanner__text" fr="Vous aimez mon travail ? Activez les notifications pour être au courant des nouveautés sur mon portfolio.">You like my work ? Activate notifications to get news on my portfolio.</p>
    <button class="ac-notifbanner__enable js-notif-enable" fr="Activer">Enable</button>
</div> -->
<div class="ac-notifbanner-backdrop js-notif-backdrop" style="display: none;">
    <div class="ac-notifbanner-backdrop__wrapper">
        <i class="material-icons-sharp ac-notifbanner-backdrop__north">north</i>
        <span class="ac-notifbanner-backdrop__text"
            fr="Cliquez sur &quot;Détails&quot; puis &quot;Autoriser&quot;">Click "Allow" to continue</span>
        <i class="material-icons-sharp ac-notifbanner-backdrop__south">south</i>
    </div>
</div>