$color: #013b01;
$color-hover: #000000;
$background: #ecf3f2;
$background-surface: #ddebe7;
$image-width: 350px;

:root {
    --padding: 16px;
}

*::selection {
    background-color: $color;
    color: $background;
}

@media screen and (min-width: 768px) {
    :root {
        --padding: 8vw;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    letter-spacing: -0.05em;
    background-color: $background;
    cursor: crosshair;
}

p, a {
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    letter-spacing: -0.3px;
}

a {
    border-bottom: 1px dotted $color;
}

a:hover {
    border-bottom: 1px dotted transparent;
}

.projects {
    padding: 32px 0;

    &__title {
        margin: 32px var(--padding);
        font-weight: 400;
        font-size: 3rem;
        color: $color;
    }
}

.slider {
    display: flex;
    width: 100%;
    overflow-x: scroll;

    &__item {
        display: flex;

        &:first-child {
            padding-left: var(--padding);
        }

        &-img {
            width: $image-width;
            height: 450px;
            object-fit: cover;
            object-position: bottom;
            cursor: pointer;
            user-select: none;
            -webkit-user-drag: none;

            &:hover {
                outline: 2px dotted $color;
            }
        }

        &-title {
            font-size: 3rem;
            font-weight: 400;
            writing-mode: vertical-lr;
            text-align: end;
            margin-left: 0;
            color: $color;
        }

        /* animations */
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                animation: hide (($i)-1) * 0.1s, slide-in-from-left (6-($i)) * 0.1s cubic-bezier(.32,.21,0,.97) (($i)-1) * 0.1s;
            }
        }
    }

    @media screen and (min-width: 768px) {
        padding-bottom: 12px;

        &::-webkit-scrollbar {
            height: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
            border-bottom: 1px solid $color;
        }

        &::-webkit-scrollbar-thumb {
            background: $color;
            border-left: var(--padding) $background solid;
            border-right: 8px $background solid;
            background-clip: padding-box;
            cursor: ew-resize;

            &:hover {
                background: $color-hover;
            }
        }
    }
}

@keyframes slide-in-from-left {
    0% {
        transform:  translateX(-25%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.experiments {
    padding: 32px var(--padding);
    background-color: #000;

    &__title {
        font-weight: 400;
        font-size: 3rem;
        color: $background;
    }
}

.footer {
    margin-top: 32px;
    padding: 16px var(--padding);
    border-top: 2px solid $color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__links {
        display: flex;
        gap: 32px;

        &-link {
            color: $color;
            text-decoration: none;
            font-size: 1.2rem;
            border-bottom: 2px dotted transparent;

            &:hover {
                border-bottom: 2px dotted $color;
            }
        }
    }

    @media screen and (max-width: 1100px) {
        display: block;

        &__links {
            display: block;

            &-link {
                display: block;
                margin: 16px 0;
                width: fit-content;
            }
        }
    }
}

.js-placeholder {
    position: fixed;
    object-fit: cover;
    object-position: bottom;
    transition: all .3s cubic-bezier(.62,.08,.05,.87);
}

.projects-details {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 9;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    &__back {
        border: none;
        position: fixed;
        width: 48px;
        height: 48px;
        left: 32px;
        top: 32px;
        font-size: 28px;
        font-family: Material Icons Sharp;
        background-color: transparent;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        color: #fff;
        cursor: zoom-out;
        z-index: 99;
    }

    &__page {
        scroll-snap-align: start;
        scroll-snap-stop: always;
        display: inline-flex;
        width: 100vw;
        white-space: initial;

        &-thumb {
            height: 100%;
            width: $image-width;
            display: block;
            object-fit: cover;
            object-position: bottom;
            user-select: none;
            -webkit-user-drag: none;
        }

        &-content {
            padding: 32px;
            width: calc(100vw - $image-width - 32px);
            transition: opacity .4s ease, transform .2s cubic-bezier(.19,1.01,.47,.97);
            transform: scaleY(2.5);
            transform-origin: top;
            background-color: $background;
            opacity: 0;
            overflow-y: scroll;

            &-actions {
                display: flex;
                gap: 8px;
                padding: 32px 0;
            }

            h1, h2, h3, p {
                font-weight: 400;
                color: $color;
            }

            img {
                width: auto;
                max-width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }

        @media screen and (max-width: 768px) {
            display: block;

            &-content {
                padding: 0;
                width: 100vw;
                transform-origin: top;

                h2, h3, p {
                    margin: 32px 16px;
                }

                img {
                    padding-left: 16px;
                    max-width: calc(100% - 16px);
                }

                &-actions {
                    margin: 0;
                    padding: 32px 16px;
                }
            }

            &-thumb {
                height: 300px;
                width: 100%;
            }
        }
    }

    &.start {
        display: flex;

        .projects-details {
            &__page-content {
                opacity: 0;
            }

            &__page-thumb {
                opacity: 0;
            }
        }
    }

    &.middle {
        .projects-details {
            &__page-content {
                opacity: 0;
                transform: scaleY(2.5);
            }

            &__page-thumb {
                opacity: 0;
            }
        }
    }

    &.end {
        .projects-details {
            &__page-content {
                opacity: 1;
                transform: scaleY(1);
            }

            &__page-thumb {
                opacity: 1;
            }
        }
    }
}

.btn {
    padding: 12px 24px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: $background-surface;
    color: $color;
    font-size: 18px;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid transparent;

    &:hover {
        border-bottom: 2px dotted $color;
    }

    &--colored {
        background-color: $color;
        color: $background;

        &:hover {
            border-bottom: 2px dotted $background;
        }
    }

    &--open-in-new {
        cursor: alias;
    }
}
