@font-face {
    font-family: TeXGyreHeros;
    src: url('../fonts/TeX-Gyre-Heros/texgyreheros-regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: TeXGyreHeros;
    src: url('../fonts/TeX-Gyre-Heros/texgyreheros-bold.otf');
    font-weight: 600;
}

@mixin font-family() {
    font-family: TeXGyreHeros, Helvetica, sans-serif;
}