.ac-pane {
    height: 100vh;
    width: auto;

    &__title {
        @include font-family;
        font-size: 5rem;
        font-weight: 500;
        line-height: 68px;
        color: #000;
    }

    &__description {
        @include font-family;
        font-size: 2rem;
        font-weight: 500;
        line-height: 34px;
        color: #000;
    }

    &__arrow {
        display: block;
        @include font-family;
        font-size: 5rem;
        font-weight: 500;
        color: $color-primary;
    }

    &--box {
        padding: 64px 10vw;

        @media screen and (max-width: 768px) {
            padding: 16px;
        }
    }

    &--grey {
        background-color: $color-grey;
        color: $color-dark;
    }

    &--white {
        background-color: #fff;
    }

    &--black {
        background-color: $color-dark;
    }
}